#page {
	display:grid;
	grid-gap: 1rem;
	grid-template-columns: 200px auto;
	grid-template-row: 75px 30px auto 100px;
}

#head {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

#dollarPic {
	grid-column: 1;
	grid-row: 1;
	height: auto;
	align-content: center;
}

header h1 {
	font-size: 50px;
}


#dollar {
   height: 75px;
   margin: 5px;
   padding: 5px;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   vertical-align: middle;   
}

#pageHead h1 {
	grid-column: 2;
	grid-row: 1;
	align-content: center;
    vertical-align: middle;
	height: 100px;
}


#menuBar {
    background-color: rgb(134, 200, 247);
    overflow: hidden;
    border: none;
	margin:10px;
	padding:10px;
	width: 100%;
	grid-column: 1 / 3;
	grid-row: 2;
}
	
#menuBarList {
	list-style-type: none;
	float: left;
    color: white;
    text-align: center;
	margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 12px;
	grid-column: 1 / 3;
	grid-row: 2;
}
.menuBarItem {
    background-color: rgb(134, 200, 247);
    display: inline;
	padding: 10px 12px;
	margin: 10px;
	text-align: center;
	color: white;
	float: center;
	border: none;
	border-color: rgb(0,0,0);
    transition: all .35s linear .35s;
	font-size: 12px;
}
	
.menuBarItem:hover {
    background-color: rgb(245, 81, 94);
	font-size: 14px;
	border: solid;
	border-color: white;
}

.smallPic {
    height: 75px;
    margin: 5px;
    padding: 5px;
}

.bigPic {
    height: 200px;
    margin: 5px;
    padding: 5px;
}

table {
	grid-column-start: 1;
	grid-column-end:2;
}

#contents {
	grid-column-start: 1;
	grid-column-end:2;
}